body{
    font-family:sans;
    font-size: 11px;
}

#ages ul{
    padding: 0;
}
#ages ul li{
    display: inline-block;
    list-style-type: none;
    margin-left: 1em;
}

#dominations ul{
    padding: 0;
}
#dominations ul li{
    display: inline-block;
    list-style-type: none;
    margin-left: 1em;
}

.hand, .influence, .stacks, .stack{
    display: inline-block;
    margin-left: 1em;
    border: 1px solid grey;
    padding: 0 1em;
}

.stack.color-0{
    border-color: darkred;
    background-color: pink;
}
.stack.color-1{
    border-color: darkblue;
    background-color: lightblue;
}
.stack.color-2{
    border-color: darkgreen;
    background-color: lightgreen;
}
.stack.color-3{
    border-color: orange;
    background-color: beige;
}
.stack.color-4{
    border-color: purple;
    background-color: plum;
}
